{% extends "base.html" %}

{% block title %}Add Client{% endblock %}

{% block content %}
<main class="py-4">
    <div class="container">
        <form method="post" enctype="multipart/form-data" class="p-2 rounded tertiary-color">
            {% csrf_token %}

            <div class="form-group">
                <label for="{{ form.csv_file.id_for_label }}">{{ form.csv_file.label }}</label>
                {{ form.csv_file }}
            </div>

            <button type="submit" class="btn btn-primary">Upload CSV</button>
        </form>

        {% if form.errors %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <div class="alert alert-danger mt-2">{{ field|title }}: {{ error }}</div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
</main>

{% endblock %}
