{% extends "base.html" %}
{% load static %}

{% block title %}Clients{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/clients/index.css' %}">
{% endblock %}

{% block content %}
<header>
    <nav class="navbar navbar-expand-lg tertiary-color accent-color px-2">
        <div class="container-fluid w-100">
            <div class="d-flex w-100 flex-column flex-lg-row">
                <div class="d-flex w-100 mb-2 mb-lg-0 mr-2">
                    <div class="nav-item search-bar flex-grow-1 w-100">
                        <input type="text" id="tableFilter" class="form-control my-2 py-2 w-100" placeholder="Search...">
                    </div>
                    <div class="nav-item ml-2">
                        <button class="btn btn-outline-secondary my-2 py-2" id="clean_filter">
                            <i class="fa fa-broom"></i>
                        </button>
                    </div>
                </div>

                <div class="d-flex w-100 mf-2">
                    <div class="nav-item w-100">
                        <a href="{% url 'clients_import' %}">
                            <button class="btn btn-outline-warning my-2 py-2 w-100">Import <i class="fa fa-plus"></i></button>
                        </a>
                    </div>
                    <div class="nav-item ml-2 w-100">
                        <a href="{% url 'clients_download' %}">
                            <button class="btn btn-outline-success my-2 py-2 w-100">Download <i class="fa fa-plus"></i></button>
                        </a>
                    </div>
                    <div class="nav-item ml-2 w-100">
                        <a href="{% url 'clients_add' %}">
                            <button class="btn btn-outline-warning my-2 py-2 w-100">Add <i class="fa fa-plus"></i></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>


<main class="py-4">
    <iframe class="w-100 border-0" id="clients-frame" src="{% url 'clients_list' %}?page=1" onload="resizeIframe(this)"></iframe>
</main>
{% endblock %}

{% block scripts %}
<script>
    function update_filter(f) {
        let filter = f ? f.value.toLowerCase() : "";

        let iframe = document.getElementById("clients-frame");

        let url = `{% url 'clients_list' %}?page=1&search=${encodeURIComponent(filter)}`;
        
        iframe.src = url;
    }
</script>
<script src="{% static 'js/clients/filter.js' %}"></script>
<script>
    function resizeIframe(iframe) {
        const iframeDocument = iframe.contentWindow.document;
        const iframeBody = iframeDocument.querySelector("#clients_list");

        // Function to update iframe height based on content
        function updateIframeHeight() {
        iframe.height = iframeBody.scrollHeight + "px"; // Update height based on scrollHeight
        }

        // MutationObserver to detect changes in the iframe content
        const observer = new MutationObserver(() => {
        updateIframeHeight();  // Resize iframe when content changes
        });

        // Observer configuration to listen for child changes in the body of iframe
        observer.observe(iframeBody, { childList: true, subtree: true });

        // Initial resize
        updateIframeHeight();
    }
</script>
{% endblock %}