{% extends "base.html" %}
{% load static %}

{% block title %}Inventory{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/inventory/index.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.15/main.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<header>
    <nav class="navbar navbar-expand-lg tertiary-color accent-color px-2">
        <div class="d-flex w-100 align-items-center">
            <ul class="navbar-nav d-flex flex-row w-100">
                <li class="nav-item ml-2 search-bar">
                    <input type="text" id="tableFilter" class="form-control my-2 py-2 w-100" placeholder="Search...">
                </li>
                <li class="nav-item ml-2">
                    <button class="btn btn-outline-secondary my-2 py-2" id="clean_filter">
                        <i class="fa fa-broom"></i>
                    </button>
                </li>
                <li class="nav-item ml-auto">
                    <a href="{% url 'download' %}">
                        <button class="btn btn-outline-success my-2 py-2">Download <i class="fa fa-plus"></i></button>
                    </a>
                </li>
                <li class="nav-item ml-2">
                    <a href="{% url 'item_add' %}">
                        <button class="btn btn-outline-warning my-2 py-2">Add <i class="fa fa-plus"></i></button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main class="py-4">
    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table" style="width: 100vw;" id="inventory">
                <thead class="w-100">
                    <tr class="w-100">
                        <th class="text-center td-name">Jméno</th>
                        <th class="text-center td-ic">IČ</th>
                        <th class="text-center td-image">Fotka</th>
                        <th class="text-center td-calendar">Kalendář</th>
                        <th class="text-center td-description">Popis</th>
                        <th class="text-center td-action">Akce</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td class="td-center text-center" data-id="item_name" data-value="{{ item.name }}">{{ item.name }}</td>
                        <td class="td-center text-center" data-id="item_inventory_number" data-value="{{ item.inventory_number }}">{{ item.inventory_number }}</td>
                        <td class="td-center text-center"><img src="{{item.image.url}}" alt="{{item.image.name}}" class="table-img"></td>
                        <td class="td-center text-center">
                            <div class="calendar-container mx-0" data-item-id="{{ item.pk }}">
                                <div class="w-100 d-flex justify-content-between">
                                    <button onclick="prevMonth(this)"><i class="fas fa-arrow-left"></i></button>
                                    <span class="month-year"></span>
                                    <button onclick="nextMonth(this)"><i class="fas fa-arrow-right"></i></button>
                                </div>
                                <table class="mx-auto m-2 td-calendar">
                                    <thead>
                                        <tr>
                                            <th class="calendar">Po</th>
                                            <th class="calendar">Út</th>
                                            <th class="calendar">St</th>
                                            <th class="calendar">Čt</th>
                                            <th class="calendar">Pá</th>
                                            <th class="calendar">So</th>
                                            <th class="calendar">Ne</th>
                                        </tr>
                                    </thead>
                                    <tbody class="calendar-body"></tbody>
                                </table>
                            </div>
                        </td>
                        <td class="td-center">{{ item.description }}</td>
                        <td class="td-actions text-center align-middle">
                            <form class="form-action-inline my-2 my-lg-0 w-100 mb-2" id="reserve-form" method="get" action="{% url 'reservations_add' %}">
                                {% csrf_token %}
                                <input type="hidden" name="pk" value="{{ item.pk }}">
                                <button class="btn btn-outline-success w-100" type="submit">Reserve <i class="fa fa-calendar"></i></button>
                            </form>
                            <form class="form-action-inline my-2 my-lg-0 w-100 py-2" id="reserve-form" method="get" action="{% url 'item_modify' %}">
                                {% csrf_token %}
                                <input type="hidden" name="pk" value="{{ item.pk }}">
                                <button class="btn btn-outline-warning w-100" type="submit">Edit <i class="fa fa-edit"></i></button>
                            </form>
                            <form class="form-action-inline my-2 my-lg-0 w-100" id="reserve-form" method="get" action="{% url 'item_delete' %}">
                                {% csrf_token %}
                                <input type="hidden" name="pk" value="{{ item.pk }}">
                                <button class="btn btn-outline-danger w-100" type="submit">Delete <i class="fa fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script src="{% static 'js/inventory/filter.js' %}"></script>
<script src="{% static 'js/inventory/index.js' %}"></script>
<script>
    function fetchReservations(itemId, callback) {
        fetch(`{% url 'api_item_reservations' %}?pk=${itemId}`)
            .then(response => response.json())
            .then(data => callback(data))
            .catch(error => console.error("Error fetching reservations:", error));
        }
</script>
{% endblock %}