.search-bar {
    width: 50%;
}

@media (min-width: 992px) {
    .search-bar {
        width: 25%;
    }
}



/* Ensure the table fits within the viewport */
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* Default font size for table cells */
th, td {
    font-size: 14px; /* Default for mobile */
    padding: 8px; /* Padding to ensure readability */
}
th.calendar, td.calendar {
    font-size: 7px; /* Default for mobile */
    padding: 4px; /* Padding to ensure readability */
}

/* Ensure images in table fit within their columns */
.table-img {
    max-width: 100%; /* Ensure images are not larger than their container */
    height: auto;
    max-height: 120px; /* Adjust max-height as needed */
}


.form-action-inline {
    width: 100%;  /* Ensure the forms take full width */
}

.form-action-inline button {
    width: 100%;  /* Ensure the buttons take full width */
    max-width: 150px;  /* Limit the button width to prevent overflow */
}

td.td-center {
    vertical-align: middle;  /* Vertically align content */
    padding: 8px;  /* Adjust padding to ensure the content is nicely spaced */
    white-space: nowrap;  /* Prevent text wrapping */
    text-overflow: ellipsis;  /* Show ellipsis for overflowed content */
    overflow: hidden;  /* Hide overflowing content */
}

/* Action column specific styling */
td.td-actions {
    padding: 8px;
}

.td-name {
    width: 5% !important;
}

.td-ic {
    width: 5% !important;

}

.td-image {
    width: 10% !important;
}

.td-calendar {
    width: 120px !important;
}

.td-description {
    width: 50% !important;
}

.td-action {
    width: 10% !important;
}


/* Responsive adjustments */
@media (min-width: 768px) {
    th, td {
        font-size: 10px;  /* Larger font size for tablets */
    }
    th.calendar, td.calendar {
        font-size: 5px;  /* Larger font size for tablets */
    }
    .table-img {
        max-height: 160px;  /* Increase image size for tablets */
    }
    .form-action-inline {
        margin-bottom: 10px;  /* Add spacing between forms */
    }
    .form-action-inline button {
        max-width: 100%;  /* Allow buttons to resize on small screens */
    }
    .td-calendar {
        width: 160px !important;
    }
}

@media (min-width: 992px) {
    th, td {
        font-size: 18px;  /* Even larger font size for desktops */
    }
    th.calendar, td.calendar {
        font-size: 9px;  /* Even larger font size for desktops */
    }
    .table-img {
        max-height: 200px;  /* Larger image size for desktops */
    }
    .td-calendar {
        width: 200px !important;
    }
}

/* Ensure the columns do not overflow */
th, td {
    white-space: nowrap; /* Prevent wrapping inside cells */
    text-overflow: ellipsis; /* Show ellipsis for overflowed content */
    overflow: hidden; /* Hide overflowing content */
}

/* Make columns resize more flexibly */
.table {
    table-layout: auto; /* Allow columns to resize based on content */
}